/* Target a specific input with an ID */
#amount::-webkit-inner-spin-button,
#amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div, :is(h1, h2, h3, h4, h5, h6) {
  padding-left: 20px; /* Adjust value as needed */
  padding-right: 20px;
}

button.btn {
  margin-left: 20px;
}