/* Target a specific input with an ID */
#amount::-webkit-inner-spin-button,
#amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
div {
  padding-left: 20px; /* Adjust value as needed */
  padding-right: 20px;
}